---
title: '分析AEM Cloud Manager測試結果 '
description: 從AEM Cloud Manager探索並修正報表結果
role: Developer
level: Beginner
type: Tutorial
topic: 開發
feature: 開發人員工具
kt: 6917
thumbnail: 330540.jpg
source-git-commit: e295d77a11c99310aaae10ecb8a2eaa20ad49285
workflow-type: tm+mt
source-wordcount: '84'
ht-degree: 8%

---


# 分析測試結果

>[!CONTEXTUALHELP]
>id="aemcloud_devops_testresult"
>title="分析測試結果"
>abstract="IE驗證程式碼中的任何編譯錯誤，以及此程式碼是否遵循AEM作為Cloud Service的最佳實務"
>additional-url="https://experienceleague.adobe.com/docs/experience-manager-cloud-manager/using/how-to-use/understand-your-test-results.html?lang=en#how-to-use" text="了解測試結果"

探索程式碼中的任何編譯錯誤，以及此程式碼是否遵循AEM作為Cloud Service的最佳實務

>[!VIDEO](https://video.tv.adobe.com/v/330540/?quality=12&learn=on)
