---
title: 分AEM析Cloud ManagerTest結果
description: 瀏覽並修復來自雲管理器的報AEM告結果
role: Developer
level: Beginner
type: Tutorial
topic: Development
feature: Developer Tools
kt: 6917
thumbnail: 330540.jpg
exl-id: 2ddd241a-0e8a-4397-8006-6f807be4fb12
source-git-commit: bca51ece7a9b249727b8746cc9654503059116fb
workflow-type: tm+mt
source-wordcount: '81'
ht-degree: 4%

---

# 分析test結果 {#analyze-test-results}

>[!CONTEXTUALHELP]
>id="aemcloud_devops_testresult"
>title="分析test結果"
>abstract="請查看代碼中的任何編譯錯誤，以及此代碼是否遵循as a Cloud Service的最佳AEM做法"
>additional-url="https://experienceleague.adobe.com/docs/experience-manager-cloud-manager/using/how-to-use/understand-your-test-results.html?lang=en#how-to-use" text="了解測試結果"

瀏覽代碼中的任何編譯錯誤，以及此代碼是否遵循as a Cloud Service的最佳做法AEM

>[!VIDEO](https://video.tv.adobe.com/v/330540/?quality=12&learn=on)
