---
title: 分析AEM Cloud Manager測試結果
description: 探索並修正來自AEM Cloud Manager的報告結果
role: Developer
level: Beginner
type: Tutorial
topic: Development
feature: Developer Tools
kt: 6917
thumbnail: 330540.jpg
exl-id: 2ddd241a-0e8a-4397-8006-6f807be4fb12
source-git-commit: b3e9251bdb18a008be95c1fa9e5c79252a74fc98
workflow-type: tm+mt
source-wordcount: '81'
ht-degree: 51%

---

# 分析測試結果 {#analyze-test-results}

>[!CONTEXTUALHELP]
>id="aemcloud_devops_testresult"
>title="分析測試結果"
>abstract="探索您的程式碼中的任何編譯錯誤，以及此程式碼是否遵循 AEM as a Cloud Service 的最佳做法"
>additional-url="https://experienceleague.adobe.com/docs/experience-manager-cloud-manager/using/how-to-use/understand-your-test-results.html?lang=en#how-to-use" text="了解測試結果"

探索您的程式碼中的任何編譯錯誤，以及此程式碼是否遵循AEMas a Cloud Service的最佳實務

>[!VIDEO](https://video.tv.adobe.com/v/330540?quality=12&learn=on)
