---
title: '分析AEM Cloud Manager測試結果 '
description: 探索並修正AEM Cloud Manager的報表結果
role: Developer
level: Beginner
type: Tutorial
topic: Development
feature: Developer Tools
kt: 6917
thumbnail: 330540.jpg
translation-type: tm+mt
source-git-commit: 5ac82928d4b0bf75b348a414793c24c3aca92f36
workflow-type: tm+mt
source-wordcount: '42'
ht-degree: 0%

---


# 分析測試結果

探索程式碼中的任何編譯錯誤，以及此程式碼是否遵循AEM雲端服務的最佳實務

>[!VIDEO](https://video.tv.adobe.com/v/330540/?quality=12&learn=on)